<!-- This is the display form for each program displayed on publicView from storage (mongo) -->
<p>
  {{#each programs}}
  <div class="list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading"><strong>{{this.school}}</strong></h4>
      <p class="list-group-item-text">
        {{this.programName}}<br>
        {{this.phoneNumber}}<br>
        {{this.location}}<br>
        {{this.programName}}<br>
        {{this.county}}<br>
        {{this.contactName}}<br>
        {{this.email}}<br>
        {{this.cost}}<br>
        {{this.certificate}}<br>
        {{this.timeline}}<br>
        {{this.timeOfDay}}<br>
        {{this.meals}}<br>
        {{this.affiliation}}<br>
        {{this.otherBenefits}}<br>
        {{this.ageMin}}<br>
        {{this.ageMax}}<br>
        {{this.servePop}}<br>
        {{this.pastSuccess}}<br>
        {{this.pastParticipants}}<br>
        {{this.wordOut}}<br>
        {{this.funded}}<br>
        {{this.impediments}}<br>
        {{this.avgNumParticip}}<br>
        {{this.description}}<br>
        {{this.programUrl}}<br>
        {{this.location}}<br>
        {{this.partners}}<br>
        {{this.scholarships}}<br>
        {{this.parentsInvolved}}<br>
        {{this.measureSuccess}}<br>
        {{this.NCFLFunded}}<br>
        {{this.bringDayOne}}<br>
        {{this.inPerson}}
      </p>
    </a>
  </div>
  {{/each}}
</p>




  <!-- {{this.school}}
  {{this.desc}}<br>
  {{this.phone}}<br>
  {{this.location}}<br>
  {{this.moreInfo}} -->
