<!-- This is the display form for each program displayed on publicView from storage (mongo) -->
<p>
    {{employer}}
    <br>
  {{#each programs}}
    {{this.school}}<br>
    {{this.desc}}<br>
    {{this.phone}}<br>
    {{this.location}}<br>
    {{this.moreInfo}}
  {{/each}}
</p>
